# Travis CI Configuration File

# Tell Travis CI we're using PHP
language: php

# Don't need `sudo` for anything
sudo: false

# Versions of PHP to test against
php:
    - "5.2"
    - "5.3"
    - "5.4"
    - "5.5"
    - "5.6"
    - "7.0"
    - "7.1"
    - "hhvm"

notifications:
    email: false

script: find . -name "*.php" -print0 | xargs -0 -n 1 -P 4 php -l
